body {
    margin: 0;
    padding: 16px;
    border-radius: 10px;
}

.heading {
    margin: 0;
}

.main_heading {
    text-transform: uppercase;
    margin-block-start: 32px;
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-block-start: 64px;
}

figure {
    margin: 0;
}

.text {
    text-transform: uppercase;
    position: absolute;
    font-size: 12px;
    transform: rotate(90deg);
}

.text-bill {
    top: 32px;
    left: 98px;
}

.text-saba {
    top: 72px;
    left: 305px;
    display: inline-table;
}

.text-shae {
    top: 290px;
    left: 116px;
}

.text-skylah {
    top: 350px;
    left: 305px;
    display: inline-table;
}

.text-griff {
    top: 566px;
    left: 116px;
}

.text-stan {
    top: 615px;
    left: 314px;
    display: inline-table;
}

figcaption {
    font-weight: 700;
}

.image_bill {

}

.image_saba {
    margin-block-start: 50px;
}

.image_shae {

}

.image_skylah {
    margin-block-start: 50px;
}

.image_griff {

}

.image_stan {
    margin-block-start: 50px;
}